body{
    background-image: url(../img/17032442.jpg);
    background-position: center;
    font-family: 'Benne', serif;
    font-weight: 600;
}

header{
    background-color: #520f20;
}

header h1{
    font-size: 3.5rem;
}

.container{
    background-color: rgba(250, 250, 250, 0.5);
    border-radius: 30px;
}

.image{
    width: 50px;
    height: 50px;
}